body {
font-family: 'Raleway', sans-serif;
box-sizing: border-box
}

.heading-container {
    text-align: center;
    margin-bottom: 40px;
}


.container-start {
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.container-start .start-button {
    padding: 15px 50px;
    background-color: steelblue;
    color: #fff;
    margin-top: 20px;
    border: none;
    cursor: pointer;
    font-family: 'Raleway', sans-serif;
}

.board {
    border: 2px solid black;
    margin: 50px auto 50px auto;
}

.board td {
    border: 1px solid gray;
    height: 70px;
    width: 70px;
    text-align: center;
    padding: 0;
}

.board tr td.wall {
    background-color: black;
}
.board tr td.boost img {
   height: 50px;
   width: 70px;
   display: block;
}

.board tr td.enemy img {
    height: 70px;
    width: 70px;
    display: block;
}

.board tr td.goal img {
    height: 70px;
    width: 70px;
    display: block;
}

.board tr td.player img {
    height: 70px;
    width: 70px;
    display: block;
}